body{
     background-color: hsl(185, 75%, 39%);
     font-size: 18px;
     font-weight: 400;
     position: relative;
     font-family:' Kumbh Sans' ;
     margin: 0;
     padding: 0;
     text-align: center;
}

.card{
     width: 20rem;
     border-radius:0.9rem;
     position: fixed;
     top: 50%;
     left: 50%;
     border:0;
     transform: translate(-50%, -50%);

}
.card-img-top{
     border-radius: 15px 15px 0 0;
}

.rounded-circle{
     width:27%;
     border: 3px solid #fff;
     position: relative;
     transform: translateY(-70%);  
}

span{
     font-weight: normal;
     font-size: 0.8rem;
}

p{
     font-weight: 800;
     font-size: 1.2rem;
     margin-bottom: 0;
}

.background-top{
     position: fixed;
     bottom: 40%;
     right: 45%;

}


.background-bottom{
     position: fixed;
     top: 40%;
     left:45%;

}


.attribution { 
     font-size: 11px; text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
} 




